﻿@model DTO.DTO_Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/img/logo.png" class="img-fluid"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <h3><span class="fa fa-user"></span> | LOGIN HERE</h3><hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @*<form class="m-t" role="form" action="~/Home/Login">*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @*<input type="email" class="form-control" placeholder="Username" required="">*@
                            @Html.EditorFor(model => model.EmailOrUsername, new { htmlAttributes = new { @class = "form-control", placeholder = "Username OR Email", required = "" } })
                            @Html.ValidationMessageFor(model => model.EmailOrUsername, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" placeholder="Password" required="">*@
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-control", required = "" } }) <span>Keep Me Logged In</span>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="~/User/Add">Create an account</a>
                    }
                    <p class="m-t">
                        <small>CRM Specialized Software Company&copy; 2019</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <hr />
                Copyright Tech Implements
                <small>©-@DateTime.Now.Year</small>
            </div>
        </div>
    </div>

</body>

</html>
