﻿@model DTO.DTO_User.DTO_GetAll
@{
    ViewBag.Title = "Feature To User";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];


    if (list.Any(m => m.Feature_Name == "Feature To User" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {

        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Select User:</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-8">
                        <div style="display:none;" id="Message"></div>
                    </div>
                    <div class="col-lg-12 col-md-8 col-sm-8">
                        @Html.DropDownListFor(m => m.id, ViewBag.UserList as SelectList, "--Select User--", new { @class = "form-control", id = "id" })
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Select Permissions for Users</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="checkbox checkbox-info" id="FeaturesAndActions">
                    @*@Html.Action("FeaturesAndActionsForUser")*@
                </div>
            </div>
        </div>
        <!-- JavaScript part -->
        <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $('#id').change(function () {

                    var selectedUser = $(this).children("option:selected").val();

                    if (selectedUser != "") {
                        $.ajax({
                            async: true,
                            type: "get",
                            url: "/FeatureToUser/FeaturesAndActionsForUser?id=" + selectedUser,
                            contentType: "html",
                            success: function (result) {
                                $("#FeaturesAndActions").empty();
                                $("#FeaturesAndActions").append(result);
                                //console.log(result);

                            }
                        });
                    }

                });

            });
        </script>

        if (list.Any(m => m.Feature_Name == "Feature To User" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
        {
            <script type="text/javascript">
                function Add(RAF_Id) {

                    var element = document.getElementById("id");
                    var RUserId = element.options[element.selectedIndex].value;


                    if (RUserId > 0 && RAF_Id > 0) {
                        var data0 = { id: RUserId, AF_Id: RAF_Id };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/FeatureToUser/Add",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Feature To User has been added successfully!!");
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);
                                }
                            }
                        });
                    }
                    else {
                        ShowMessage("alert alert-warning", "Choose a User From Dropdown First!!");
                    }
                }
                function MarkAll() {
                    if (confirm("Are you sure?")) {
                        var UserId = { id: $("#id").val() };
                        $.ajax({
                            type: "POST",
                            data: UserId,
                            url: "/FeatureToUser/MarkAll",
                            success: function (result) {
                                if (result == "Success") {
                                    $.ajax({
                                        async: true,
                                        type: "get",
                                        url: "/FeatureToUser/FeaturesAndActionsForUser?id=" + UserId.id,
                                        contentType: "html",
                                        success: function (result) {
                                            $("#FeaturesAndActions").empty();
                                            $("#FeaturesAndActions").append(result);
                                            //console.log(result);

                                        }
                                    });
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);

                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                function Add(RAF_Id) {
                    ShowMessage("alert alert-Danger", "You are not allowed to perform this task!!");
                }
                function MarkAll() {
                    ShowMessage("alert alert-Danger", "You are not allowed to perform this task!!");
                }
            </script>
        }

        if (list.Any(m => m.Feature_Name == "Feature To User" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
        {
            <script type="text/javascript">
                function Delete(RAF_Id) {
                    var element = document.getElementById("id");
                    var RUserId = element.options[element.selectedIndex].value;

                    if (RUserId > 0 && RAF_Id > 0) {
                        var data0 = { id: RUserId, AF_Id: RAF_Id };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/FeatureToUser/Delete",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Feature To User has been Deleted !!");

                                }
                                else {
                                    ShowMessage("alert alert-danger", result);
                                }
                            }
                        });
                    }
                    else {
                        ShowMessage("alert alert-warning", "Choose a User From Dropdown First!!");
                    }
                }
                function UnMarkAll() {
                    if (confirm("Are you sure?")) {
                        var UserId = { id: $("#id").val() };
                        $.ajax({
                            type: "POST",
                            data: UserId,
                            url: "/FeatureToUser/UnMarkAll",
                            success: function (result) {
                                if (result == "Success") {
                                    $.ajax({
                                        async: true,
                                        type: "get",
                                        url: "/FeatureToUser/FeaturesAndActionsForUser?id=" + UserId.id,
                                        contentType: "html",
                                        success: function (result) {
                                            $("#FeaturesAndActions").empty();
                                            $("#FeaturesAndActions").append(result);
                                            //console.log(result);

                                        }
                                    });
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);

                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                function Delete(RAF_Id) {
                    ShowMessage("alert alert-Danger", "You are not allowed to perform this task!!");
                }
                function UnMarkAll() {
                    ShowMessage("alert alert-Danger", "You are not allowed to perform this task!!");
                }
            </script>
        }
    }
    else
    {
        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Permission Message</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="AjaxContent">
                <div class="row">
                    <div class="col-lg-12 text-center" style="height:200px; margin-top:200px;">
                        <h1 class="text-warning"><span class="fa fa-lock fa-10x"></span>You Are Not Allowed To View This Page!!!!</h1>
                        <h3>
                            Redirecting to Dashboard after <span id="countdown">6</span> seconds
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            // Total seconds to wait
            var seconds = 6;

            function countdown() {
                seconds = seconds - 1;
                if (seconds < 0) {
                    // Chnage your redirection link here
                    window.location.replace("https://localhost:44302/User/Dashboard");
                } else {
                    // Update remaining seconds
                    document.getElementById("countdown").innerHTML = seconds;
                    // Count down using javascript
                    window.setTimeout("countdown()", 1000);
                }
            }

            // Run countdown function
            countdown();

        </script>
    }
}
