﻿@model System.Web.Mvc.HandleErrorInfo
    @{
        Layout = null;
    }

    <!DOCTYPE html>
    <html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Error Page</title>
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/animate.css" rel="stylesheet" />
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    </head>

    <body class="gray-bg">

        <div class="loginColumns animated fadeInDown">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/img/logo.png" class="img-fluid" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    @{
                        if (Model != null && Model.Exception != null)
                        {
                            <h5>Here is some information you can pass on to the administrator</h5>
                            <h3>Path: ~/@string.Format("{0}/{1}", Model.ControllerName, Model.ActionName)</h3>
                            <h4>Error: @Model.Exception.GetType().Name</h4>
                            if (Request.IsLocal)
                            {
                                <h4>Message: @Model.Exception.Message</h4>
                                <h5>@Model.Exception.StackTrace</h5>
                            }
                        }
                        else
                        {
                            <h1>Error: Something Went Wrong!! </h1>
                        }
                    }
                </div>
            </div>
            <div class="row">

                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <hr />
                    Copyright Tech Implements
                    <small>© 2014-2015</small>
                </div>
            </div>
        </div>

    </body>

</html>
