﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/img/logo.png" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <h1>Error 404: Page Not Found</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6">
                <hr />
                Copyright Tech Implements
                <small>© 2014-2015</small>
            </div>
        </div>
    </div>

</body>

</html>
