﻿@model DTO.DTO_Action.DTO_GetAll

@{
    ViewBag.Title = "Actions";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];


    bool update = false;
    bool delete = false;
    bool view = false;

    if (list.Any(m => m.Feature_Name == "Actions" && m.Actions.Any(x => x.Action_Name == "Update" && x.IsSelected == true)))
    {
        update = true;
    }
    if (list.Any(m => m.Feature_Name == "Actions" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
    {
        delete = true;
    }
    if (list.Any(m => m.Feature_Name == "Actions" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        view = true;
    }

    <div class="ibox">
        <div class="ibox-title">
            <a class="collapse-link">
                <h5>Add Action</h5>
            </a>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="AjaxContent">
            <form id="AddActionForm" name="AddActionForm">
                <div style="display:none;" id="Message"></div>
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.HiddenFor(model => model.Action_Id)

                    <div class="col-md-6 col-sm-12">
                        @Html.EditorFor(model => model.Action_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Action Name" } })
                    </div>
                    <div class="col-md-6 col-sm-6">
                        @Html.DropDownListFor(m => m.Status_Id, ViewBag.StatusList as SelectList, "--Select Status--", new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-2 pull-right">
                        <button class="btn btn-primary btn-block btn-rounded" onclick="Add()" id="Button">Add</button>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-right">
                        <button class="btn btn-light btn-block btn-rounded" onclick="Reset()" id="Reset">Reset</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="ibox-title">
            <h5>All Actions</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" onclick='GetAll()'>
                    <i class="fa fa-refresh fa-spin"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (list.Any(m => m.Feature_Name == "Actions" && m.Actions.Any(x => x.Action_Name == "Search" && x.IsSelected == true)))
            {
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary disabled">
                                Search
                            </button>
                        </span>
                        <input type="text" placeholder="Search Here.." id="SearchTerm" onkeyup="Search(this.value)" class="form-control">
                    </div>
                </div>
                <br />
            }

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in ViewBag.ActionList)
                    {
                        <tr>
                            <td>
                                @item.Action_Name
                            </td>
                            <td>
                                @if (update)
                                {
                                    <a href="#" onclick="Display(@item.Action_Id,'Update')"><span class="fa fa-edit"></span></a>
                                }
                                @if (delete)
                                {
                                    <a href="#" onclick="Display(@item.Action_Id,'Delete')"><span class="fa fa-trash text-danger"></span></a>
                                }
                                @if (view)
                                {
                                    <a href="#" onclick="Display(@item.Action_Id,'View')"><span class="fa fa-eye text-warning"></span></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        function Display(id, action) {
            if (id > 0)
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Action/Display?id=" + id,
                    contentType: "html",
                    success: function (result) {
                        $('#Action_Id').val(result.Action_Id);
                        $('#Action_Name').val(result.Action_Name);
                        $('#Status_Id').val(result.Status_Id);
                    }
                });

            if (action == "Delete") {
                UpdateButton("Delete()", "btn-danger", "Delete");
                $('#Reset ').attr('style', 'display: visible');
            }
            else if (action == "Update") {
                UpdateButton("Update()", "btn-success", "Update");
                $('#Reset ').attr('style', 'display: visible');

            }
            else if (action == "View") {
                UpdateButton("Reset()", "btn-light", "Reset");
                $('#Reset ').attr('style', 'display: none');
            }

        }

        function Add() {
            var ActionName = $("#Action_Name").val();
            var StatusId = $("#Status_Id").val();

            if (ActionName == "") {
                ShowMessage("alert alert-danger", "Enter Action Name.!!!");
            }
            else if (!validateName(ActionName)) {
                ShowMessage("alert alert-danger", "Enter a Valid Name without Special Characters.!!!");
            }
            else {
                //var data1 = $("#AddActionForm").serialize();
                var data1 = { Action_Name: ActionName, Status_Id: StatusId };
                $.ajax({
                    async: true,
                    type: "post",
                    data: data1,
                    url: "/Action/Add",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Action has been added successfully!!");
                            Reset();
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Update() {
            var ActionId = $("#Action_Id").val();
            var ActionName = $("#Action_Name").val();
            var StatusId = $("#Status_Id").val();
            if (ActionName == "" || ActionName == " ") {
                ShowMessage("alert alert-danger", "Fill all fields in form.!!!");
            }
            else {
                var data = { Action_Id: ActionId, Action_Name: ActionName, Status_Id: StatusId };

                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/Action/Update",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Action has been Updated successfully!!");
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Delete() {

            var Action_ID = $("#Action_Id").val();
            if (confirm("Performing deletion. Are you sure?")) {
                if (Action_ID != "") {
                    var data = { Action_Id: Action_ID };
                    $.ajax({
                        async: true,
                        type: "post",
                        data: data,
                        url: "/Action/Delete",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "Action has been Deleted successfully!!");
                                Reset();
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Select a Action First!");
                }
            }
        }

        function Search(value) {
            if (value != null && value != " ") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Action/Search?SearchTerm=" + value,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                    }
                });
            }
        }

        function GetAll() {
            jQuery.ajax({
                async: true,
                type: "get",
                url: "/Action/GetAll",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                }
            });
        }

        function UpdateList(response,update,delet,view) {
            var trHTML = '';
            $.each(response, function (i, item) {

                //trHTML += '<a href="#" onclick="Display(' + item.Action_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> | <a href="#" onclick="Display(' + item.Action_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a> | <a href="#" onclick="Display(' + item.Action_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a></td></tr>';

                trHTML += '<tr><td>' + item.Action_Name + '</td><td>';
                if (update) {
                    trHTML += '<a href="#" onclick="Display(' + item.Action_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> ';
                }
                if (delet) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Action_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a>';
                }
                if (view) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Action_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a>';
                }
                trHTML += '</td></tr>';

            });

            if (trHTML != '') {
                $('#List').empty();
                $('#List').append(trHTML);
            }
            else {
                trHTML += '<tr><td colspan = "3">No Matching Record Found !!!</td></tr>';
                $('#List').empty();
                $('#List').append(trHTML);
            }
        }

    </script>


    if (list.Any(m => m.Feature_Name == "Actions" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
    {
        <script type="text/javascript">
            function Reset() {
                ResetForm();
                UpdateButton("Add()", "btn-primary", "Add");
                $("#Reset").attr('style', 'display:visible');

            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $("#Reset").attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");
            });


            function Reset() {
                ResetForm();
                $("#Reset").attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");
            }

        </script>
    }

    <script type="text/javascript">

        function ResetForm() {
            $("#Action_Id").val("");
            $("#Action_Name").val("");
            $("#Status_Id").val("");
        }

        function validateName(name) {
            var Reg = new RegExp(/^[a-zA-Z ]+$/);
            return Reg.test(name);
        }
    </script>
}




