﻿@model IEnumerable<DTO.DTO_Feature.DTO_GetAll>

    <div class="row">
        <div class="col-md-12"><button class="btn btn-outline-success" onclick="MarkAll()">Mark All</button> <button class="btn btn-outline-danger" onclick="UnMarkAll()">UnMark All</button></div>
    </div><br>
<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        <li>
            <b> @Html.DisplayFor(modelItem => item.Feature_Name)</b>
        </li>
        <br />
        <li>
            <ul class="list-unstyled list-inline">
                @foreach (var action in item.Actions)
                {
                    <li>
                        @Html.CheckBox(action.Action_Name, action.IsSelected, new { onclick = string.Format("if(this.checked){{Add({0});}}else{{ Delete({0}); }}", action.AF_Id) }) @Html.DisplayFor(modelItem => action.Action_Name)
                    </li>
                }
            </ul>
        </li>
        <hr />
    }
</ul>