﻿@model DTO.DTO_Role.DTO_GetAll

@{
    ViewBag.Title = "Feature To Role";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    if (list.Any(m => m.Feature_Name == "Feature To Role" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Select Role:</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-8">
                        <div style="display:none;" id="Message"></div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        @Html.DropDownListFor(m => m.Role_Id, ViewBag.RoleList as SelectList, "--Select Role--", new { @class = "form-control", id = "Role_Id" })
                    </div>

                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Select Permissions for Roles</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="checkbox checkbox-info" id="FeaturesAndActions">
                    @*@Html.Action("FeaturesAndActionsForRole")*@
                </div>
            </div>
        </div>

        <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $('#Role_Id').change(function () {

                    var selectedRole = $(this).children("option:selected").val();

                    if (selectedRole != "") {
                        $.ajax({
                            async: true,
                            type: "get",
                            url: "/FeatureToRole/FeaturesAndActionsForRole?roleId=" + selectedRole,
                            contentType: "html",
                            success: function (result) {
                                $("#FeaturesAndActions").empty();
                                $("#FeaturesAndActions").append(result);
                            }
                        });
                    }
                    else {
                        $("#FeaturesAndActions").empty();
                    }
                });
            });
        </script>

        if (list.Any(m => m.Feature_Name == "Feature To Role" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
        {
            <script type="text/javascript">
                function Add(RAF_Id) {

                    var element = document.getElementById("Role_Id");
                    var RRoleId = element.options[element.selectedIndex].value;


                    if (RRoleId > 0 && RAF_Id > 0) {
                        var data0 = { Role_Id: RRoleId, AF_Id: RAF_Id };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/FeatureToRole/Add",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Feature To Role has been added successfully!!");

                                }
                                else {
                                    ShowMessage("alert alert-danger", result);

                                }
                            }
                        });
                    }
                    else {
                        ShowMessage("alert alert-warning", "Choose a User From Dropdown First!!");
                    }
                }
                function MarkAll() {
                    if (confirm("Are you sure?")) {
                        var RoleId = { Role_Id: $("#Role_Id").val() };
                        debugger;
                        $.ajax({
                            type: "POST",
                            data: RoleId,
                            url: "/FeatureToRole/MarkAll",
                            success: function (result) {
                                if (result == "Success") {
                                    $.ajax({
                                        async: true,
                                        type: "get",
                                        url: "/FeatureToRole/FeaturesAndActionsForRole?roleId=" + RoleId.Role_Id,
                                        contentType: "html",
                                        success: function (result) {
                                            $("#FeaturesAndActions").empty();
                                            $("#FeaturesAndActions").append(result);
                                            //console.log(result);
                                        }
                                    });
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);

                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                function Add() {
                    ShowMessage("alert alert-danger", "You are Not Allowed to Perfrom this task!!");
                }
                function MarkAll() {
                    ShowMessage("alert alert-danger", "You are Not Allowed to Perfrom this task!!");
                }
            </script>
        }

        if (list.Any(m => m.Feature_Name == "Feature To Role" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
        {
            <script type="text/javascript">
                function Delete(RAF_Id) {
                    var element = document.getElementById("Role_Id");
                    var RRoleId = element.options[element.selectedIndex].value;
                    if (RRoleId > 0 && RAF_Id > 0) {
                        var data0 = { Role_Id: RRoleId, AF_Id: RAF_Id };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/FeatureToRole/Delete",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Feature To Role has been Deleted !!");
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);
                                }
                            }
                        });
                    }
                    else {
                        ShowMessage("alert alert-warning", "Choose a Role From Dropdown First!!");

                    }
                }
                function UnMarkAll() {
                    if (confirm("Are you sure?")) {
                        var RoleId = { Role_Id: $("#Role_Id").val() };
                        $.ajax({
                            type: "POST",
                            data: RoleId,
                            url: "/FeatureToRole/UnMarkAll",
                            success: function (result) {
                                if (result == "Success") {
                                    $.ajax({
                                        async: true,
                                        type: "get",
                                        url: "/FeatureToRole/FeaturesAndActionsForRole?roleId=" + RoleId.Role_Id,
                                        contentType: "html",
                                        success: function (result) {
                                            $("#FeaturesAndActions").empty();
                                            $("#FeaturesAndActions").append(result);
                                            //console.log(result);

                                        }
                                    });
                                }
                                else {
                                    ShowMessage("alert alert-danger", result);

                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                function Delete() {
                    ShowMessage("alert alert-danger", "You are Not Allowed to Perfrom this task!!");
                }
                function UnMarkAll() {
                    ShowMessage("alert alert-danger", "You are Not Allowed to Perfrom this task!!");
                }
            </script>
        }
    }
    else
    {
        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Permission Message</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="AjaxContent">
                <div class="row">
                    <div class="col-lg-12 text-center" style="height:200px; margin-top:200px;">
                        <h1 class="text-warning"><span class="fa fa-lock fa-10x"></span>You Are Not Allowed To View This Page!!!!</h1>
                        <h3>
                            Redirecting to Dashboard after <span id="countdown">6</span> seconds
                        </h3>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            // Total seconds to wait
            var seconds = 6;

            function countdown() {
                seconds = seconds - 1;
                if (seconds < 0) {
                    // Chnage your redirection link here
                    window.location.replace("https://localhost:44302/User/Dashboard");
                } else {
                    // Update remaining seconds
                    document.getElementById("countdown").innerHTML = seconds;
                    // Count down using javascript
                    window.setTimeout("countdown()", 1000);
                }
            }

            // Run countdown function
            countdown();

        </script>
    }
}
