﻿@model DTO.DTO_Status.DTO_GetAll

@{
    ViewBag.Title = "Status";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    bool updatee = false;
    bool delete = false;
    bool view = false;

    if (list.Any(m => m.Feature_Name == "Status" && m.Actions.Any(x => x.Action_Name == "Update" && x.IsSelected == true)))
    {
        updatee = true;
    }
    if (list.Any(m => m.Feature_Name == "Status" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
    {
        delete = true;
    }
    if (list.Any(m => m.Feature_Name == "Status" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        view = true;
    }


    <div class="ibox">
        <div class="ibox-title">
            <a class="collapse-link">
                <h5>Add Status</h5>
            </a>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="AjaxContent">
            <div class="col-lg-12">
                <form id="StatusForm" name="StatusForm">
                    <div style="display:none;" id="Message"></div>

                    @Html.AntiForgeryToken()
                    <div class="row">
                        @Html.HiddenFor(model => model.Status_Id)
                        <div class="col-md-6 col-sm-12">
                            @Html.EditorFor(model => model.Status_Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Status Title" } })
                        </div>
                    </div>
                    <br />
                </form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-md-3 col-sm-3 pull-right">
                            <button class="btn btn-primary btn-block btn-rounded" onclick="Add()" id="Button">Add</button>
                        </div>
                        <div class="col-md-3 col-sm-3 pull-right">
                            <button class="btn btn-light btn-block btn-rounded" onclick="Reset()" id="Reset">Reset</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="ibox-title">
            <h5>All Status</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (list.Any(m => m.Feature_Name == "Status" && m.Actions.Any(x => x.Action_Name == "Search" && x.IsSelected == true)))
            {
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary disabled">
                                Search
                            </button>
                        </span>
                        <input type="text" placeholder="Search Here.." id="SearchTerm" onkeyup="Search(this.value)" class="form-control">
                    </div>
                </div>
                <br />
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in ViewBag.StatusList)
                    {
                        <tr>
                            <td>
                                @item.Status_Title
                            </td>
                            <td>
                                @{
                                    if (updatee)
                                    {
                                        <a href="#" onclick="Display(@item.Status_Id,'Update')"><span class="fa fa-edit"></span></a>
                                    }

                                    if (delete)
                                    {
                                        <a href="#" onclick="Display(@item.Status_Id,'Delete')"><span class="fa fa-trash text-danger"></span></a>
                                    }

                                    if (view)
                                    {
                                        <a href="#" onclick="Display(@item.Status_Id,'View')"><span class="fa fa-eye text-warning"></span></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">

        function Display(id, action) {
            if (id > 0)
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Status/Display?id=" + id,
                    contentType: "html",
                    success: function (result) {
                        $('#Status_Id').val(result.Status_Id);
                        $('#Status_Title').val(result.Status_Title);

                        if (action == "Delete") {
                            $('#Reset').attr('style', 'display:visible');
                            UpdateButton("Delete()", "btn-danger", "Delete");

                        }
                        else if (action == "Update") {
                            $('#Reset').attr('style', 'display:visible');
                            UpdateButton("Update()", "btn-success", "Update");

                        }
                        else if (action == "View") {
                            $('#Reset').attr('style', 'display:none');
                            UpdateButton("Reset()", "btn-light", "Reset");

                        }
                    }
                });
        }

        function Add() {
            var StatusName = $("#Status_Title").val();


            if (StatusName == "") {
                ShowMessage("alert alert-danger", "Enter Status Name.!!!");
            }
            else if (!validateName(StatusName)) {
                Reset();
                ShowMessage("alert alert-danger", "Enter a Valid Name without Special Characters.!!!");
                GetAll();
            }
            else {
                var data1 = { Status_Title: StatusName };
                $.ajax({
                    async: true,
                    type: "post",
                    data: data1,
                    url: "/Status/Add",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Status has been added successfully!!");
                            Reset();
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Update() {
            var StatusId = $("#Status_Id").val();
            var StatusName = $("#Status_Title").val();


            if (StatusName == "" || StatusName == " ") {
                ShowMessage("alert alert-danger", "Fill all fields in form.!!!");
            }
            else {
                var data = { Status_Id: StatusId, Status_Title: StatusName };

                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/Status/Update",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Status has been Updated successfuly!!");
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Delete() {

            var Status_ID = $("#Status_Id").val();

            if (confirm("Performing deletion. Are you sure?")) {
                if (Status_ID != "") {
                    //var data = $("#StatusForm").serialize();
                    var data = { Status_Id: Status_ID };
                    $.ajax({
                        async: true,
                        type: "post",
                        data: data,
                        url: "/Status/Delete",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "Status has been Deleted successfully!!");
                                Reset();
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Select a Status First!");
                }
            }
        }

        function Search(value) {
            if (value != null && value != " ") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Status/Search?SearchTerm=" + value,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        UpdateList(response,@updatee.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                    }
                });
            }
        }

        function GetAll() {
            $.ajax({
                async: true,
                type: "get",
                url: "/Status/GetAll",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    UpdateList(response,@updatee.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                }
            });
        }

        function UpdateList(response,update,delet,view) {
            var trHTML = '';
            $.each(response, function (i, item) {
                //trHTML += '<a href="#" onclick="Display(' + item.Status_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> | <a href="#" onclick="Display(' + item.Status_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a> | <a href="#" onclick="Display(' + item.Status_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a></td></tr>';


                trHTML += '<tr><td>' + item.Status_Title + '</td><td>';
                if (update) {
                    trHTML += '<a href="#" onclick="Display(' + item.Status_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> ';
                }
                if (delet) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Status_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a>';
                }
                if (view) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Status_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a>';
                }
                trHTML += '</td></tr>';


            });

            if (trHTML != '') {
                $('#List').empty();
                $('#List').append(trHTML);
            }
            else {
                trHTML += '<tr><td colspan = "2">No Matching Record Found !!!</td></tr>';
                $('#List').empty();
                $('#List').append(trHTML);
            }
        }

    </script>
    if (list.Any(m => m.Feature_Name == "Status" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
    {
        <script type="text/javascript">

            function Reset() {
                ResetForm();
                $('#Reset').attr('style', 'display:visible');
                UpdateButton("Add()", "btn-primary", "Add");
            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $('#Reset').attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");


            });

            function Reset() {
                ResetForm();
                $('#Reset').attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");

            }
        </script>
    }
    <script type="text/javascript">

        function ResetForm() {
            $('#Status_Id').val("");
            $('#Status_Title').val("");
        }

        function validateName(name) {
            var Reg = new RegExp(/^[a-zA-Z ]+$/);
            return Reg.test(name);
        }

    </script>
}
