﻿@model DTO.DTO_User.DTO_GetAll

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet">


</head>

<body class="gray-bg">


    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/img/logo.png" class="img-fluid" />

            </div>
        </div>
        <h3>Register to TI+</h3>
        @if (Session["successreg"] != null)
        {
            if (HttpContext.Current.Session["successreg"].ToString() == "success")
            {
                <p class="text-success">Account Created Successfully! <a href="~/Home/Login" class="btn btn-outline-success">Login here</a></p>
            }
            else
            {
                <p class="text-danger">@HttpContext.Current.Session["successreg"].ToString()</p>

            }
            Session.Remove("successreg");
        }
        else
        {
            <p>Create account to see it in action.</p>
        }

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken();
            <div class="form-group">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", required = "" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", required = "" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", required = "" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", required = "" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="~/Home/login">Login</a>
        }
    </div>


    <!-- Mainly scripts -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/js/popper.min.js"></script>

    <script src="~/Scripts/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>