﻿
@{
    ViewBag.Title = "Dashboard";

    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    if (list.Any(m => m.Feature_Name == "Dashboard" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {


        <h2>Wellcome to user Dashboard</h2>

        <a href="~/Home/Logout" class="btn btn-danger">Logout</a>
    }
    else
    {
        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Permission Message</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content" id="AjaxContent">
                <div class="row">
                    <div class="col-lg-12 text-center" style="height:200px; margin-top:200px;">
                        <h1 class="text-warning"><span class="fa fa-lock fa-10x"></span>You Are Not Allowed To View This Page!!!!</h1>
                    </div>
                </div>
            </div>
        </div>

    }
}
