﻿@model DTO.DTO_User.DTO_GetAll

@{
    ViewBag.Title = "Users";

    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    bool updatee = false;
    bool delete = false;
    bool view = false;

    if (list.Any(m => m.Feature_Name == "Users" && m.Actions.Any(x => x.Action_Name == "Update" && x.IsSelected == true)))
    {
        updatee = true;
    }
    if (list.Any(m => m.Feature_Name == "Users" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
    {
        delete = true;
    }
    if (list.Any(m => m.Feature_Name == "Users" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        view = true;
    }

    <div class="ibox">
        <div class="ibox-title">
            <a class="collapse-link">
                <h5>Add User</h5>
            </a>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="AjaxContent">
            <form id="UserForm" name="UserForm">
                <div style="display:none;" id="Message"></div>
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.HiddenFor(model => model.id)
                    <div class="col-md-6 col-sm-6">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                    </div>
                    <div class="col-md-6 col-sm-6">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-6">

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })

                    </div>
                    <div class="col-md-6 col-sm-6">

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", id = "pswd" } })

                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">@@</span>
                            </div>

                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        @Html.DropDownListFor(m => m.Role_Id, ViewBag.RoleList as SelectList, "--Select Role--", new { @class = "form-control" })
                    </div>

                    <div class="col-md-6 col-sm-6">
                        @Html.DropDownListFor(m => m.Status_Id, ViewBag.StatusList as SelectList, "--Select Status--", new { @class = "form-control" })
                    </div>

                </div>
                <br />
            </form>
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-md-2 col-sm-3 pull-right">
                        <button class="btn btn-primary btn-block btn-rounded" onclick="Add()" id="Button">Add</button>
                    </div>

                    <div class="col-md-2 col-sm-3 pull-right">
                        <button class="btn btn-light btn-block btn-rounded" onclick="Reset()" id="Reset">Reset</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="ibox-title">
            <h5>All Users</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="#" onclick="GetAll()">
                    <i class="fa fa-refresh fa-spin"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            @if (list.Any(m => m.Feature_Name == "Users" && m.Actions.Any(x => x.Action_Name == "Search" && x.IsSelected == true)))
            {
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary disabled">
                                Search
                            </button>
                        </span>

                        <input type="text" placeholder="Search Here.." id="SearchTerm" onkeyup="Search(this.value)" class="form-control">
                    </div>
                </div>
                <br />
            }

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in ViewBag.UserList)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>

                            <td width="25%">
                                @item.UserName
                            </td>
                            <td>
                                @{
                                    if (updatee)
                                    {
                                        <a href="#" onclick="Display(@item.id,'Update')"><span class="fa fa-edit"></span></a>
                                    }

                                    if (delete)
                                    {
                                        <a href="#" onclick="Display(@item.id,'Delete')"><span class="fa fa-trash text-danger"></span></a>
                                    }

                                    if (view)
                                    {
                                        <a href="#" onclick="Display(@item.id,'View')"><span class="fa fa-eye text-warning"></span></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        function Display(id, action) {
            if (id > 0) {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/User/Display?id=" + id,
                    contentType: "html",
                    success: function (result) {
                        $("#id").val(result.id);
                        $("#FirstName").val(result.FirstName);
                        $("#LastName").val(result.LastName);
                        $("#Email").val(result.Email);
                        $("#Address").val(result.Address);
                        $("#pswd").val(result.Password);
                        $("#UserName").val(result.UserName);
                        $("#Role_Id").val(result.Role_Id);
                        $("#Status_Id").val(result.Status_Id);

                        if (action == "Delete") {
                            $('#Reset ').attr('style', 'display: visible');
                            UpdateButton("Delete()", "btn-danger", "Delete");
                        }
                        else if (action == "Update") {
                            $('#Reset ').attr('style', 'display: visible');
                            UpdateButton("Update()", "btn-success", "Update");
                            $('#UserName').attr('readonly', true);

                        }
                        else if (action == "View") {
                            UpdateButton("Reset()", "btn-light", "Reset");
                            $('#Reset ').attr('style', 'display: none');
                        }
                    }
                });
            }
        }

        function Add() {

            var FirstName = $("#FirstName").val();
            var LastName = $("#LastName").val();
            var Email = $("#Email").val();
            var Address = $("#Address").val();
            var Password = $("#pswd").val();
            var UserName = $("#UserName").val();
            var Role_Id = $("#Role_Id").val();
            var Status_Id = $("#Status_Id").val();

            if (FirstName == "" || LastName == "" || Email == "" || Password == "" || UserName == "" || Role_Id == "" || Status_Id == "") {
                ShowMessage("alert alert-danger", "Fill all fields in form to added a new User!!");
            }
            else if (!validateName(FirstName + " " + LastName)) {
                ShowMessage("alert alert-danger", "Please Enter A valid Name with out Special characters!!");
            }
            else if (!validateEmail(Email)) {
                ShowMessage("alert alert-danger", "Please Enter A valid Email !!!");
            }
            else {
                var data = { FirstName: FirstName, LastName: LastName, Email: Email, Password: Password, Address: Address, UserName: UserName, Role_Id: Role_Id, Status_Id };
                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/User/Add",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "User has been added successfully!!");
                            Reset();
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Update() {
            debugger;
            var userId = $("#id").val();
            var FirstName = $("#FirstName").val();
            var LastName = $("#LastName").val();
            var Email = $("#Email").val();
            var Password = $("#pswd").val();
            var Address = $("#Address").val();
            var UserName = $("#UserName").val();
            var Role_Id = $("#Role_Id").val();
            var Status_Id = $("#Status_Id").val();

            if (FirstName == "" || LastName == "" || Email == "" || Password == "" || UserName == "" || Role_Id == "" || Status_Id == "") {
                ShowMessage("alert alert-danger", "Enter all fields in form to Update User!!");

            }
            else {
                var data = { id: userId, FirstName: FirstName, LastName: LastName, Email: Email, Password: Password, Address: Address, UserName: UserName, Role_Id: Role_Id, Status_Id: Status_Id };

                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/User/Update",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "User has been Updated successfully!!");
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Delete() {

            var User_ID = $("#id").val();

            if (confirm("Performing deletion. Are you sure?")) {
                if (User_ID > 0) {
                    var data = { id: User_ID };
                    $.ajax({
                        async: true,
                        type: "post",
                        data: data,
                        url: "/User/Delete",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "User has been Deleted successfully!!");
                                Reset();
                                GetAll();

                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Select a valid user");
                }
            }
        }

        function ResetForm() {
            $("#id").val("");
            $("#FirstName").val("");
            $("#LastName").val("");
            $("#Email").val("");
            $("#Address").val("");
            $("#pswd").val("");
            $("#UserName").val("");
            $("#Role_Id").val("");
            $("#Status_Id").val("");
        }

        function Search(value) {

            if (value != null && value != " ") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/User/Search?SearchTerm=" + value,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        UpdateList(response, @updatee.ToString().ToLower(), @delete.ToString().ToLower(), @view.ToString().ToLower());

                        //console.log(response);
                    }
                });
            }
        }

        function GetAll() {
            $.ajax({
                async: true,
                type: "get",
                url: "/User/GetAll",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    UpdateList(response,@updatee.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                    //console.log(response);
                }
            });
        }

        function validateName(name) {

            var NameReg = new RegExp(/^[a-zA-Z ]+$/);
            return NameReg.test(name);
        }

        function validateEmail(email) {

            var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return emailReg.test(email);
        }

        function UpdateList(response, update, delet, view) {
            var trHTML = '';
            $.each(response, function (i, item) {
                trHTML += '<tr><td>' + item.FirstName + '</td><td>' + item.LastName + '</td><td>' + item.UserName + '</td><td>';
                if (update) {
                    trHTML += '<a href="#" onclick="Display(' + item.id + ',\'Update\')"><span class="fa fa-edit"></span></a> ';
                }
                if (delet) {
                    trHTML += ' <a href="#" onclick="Display(' + item.id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a>';
                }
                if (view) {
                    trHTML += ' <a href="#" onclick="Display(' + item.id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a>';
                }
                trHTML += '</td></tr>';
            });
            if (trHTML != '') {
                $('#List').empty();
                $('#List').append(trHTML);
            }
            else {
                trHTML += '<tr><td colspan = "5">No Matching Record Found !!!</td></tr>';
                $('#List').empty();
                $('#List').append(trHTML);
            }
        }

    </script>

    if (list.Any(m => m.Feature_Name == "Users" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
    {
        <script type="text/javascript">
            
            function Reset() {
                ResetForm();
                $('#UserName').attr('readonly', false);

                UpdateButton("Add()", "btn-primary", "Add");
                $('#Reset ').attr('style', 'display: visible');

            }

        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('#Reset ').attr('style', 'display: none');
                UpdateButton("Reset()", "btn-light", "Reset");
            });

            function Reset() {
                ResetForm();
                $('#UserName').attr('readonly', false);
                $('#Reset ').attr('style', 'display: none');
                UpdateButton("Reset()", "btn-light", "Reset");

            }
        </script>
    }



}