﻿@model IEnumerable<DTO.DTO_Feature.DTO_GetAll>
@{
    ViewBag.Title = "Actions To Features";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];


    if (list.Any(m => m.Feature_Name == "Actions To Features" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        <div class="ibox">
            <div class="ibox-title">
                <h5>Select Actions For Features</h5>
            </div>
            <div class="ibox-content">
                <div class="checkbox checkbox-info">
                    <div class="col-lg-12 col-md-8 col-sm-8">
                        <div style="display:none;" id="Message"></div>
                    </div>

                    <ul class="list-unstyled">
                        @foreach (var item in Model)
                        {
                            <li>
                                <b> @Html.DisplayFor(modelItem => item.Feature_Name)</b>
                            </li>
                            <br />
                            <li>
                                <ul class="list-unstyled list-inline">

                                    @foreach (var action in item.Actions)
                                    {

                                        <li>
                                            @Html.CheckBox(action.Action_Name, action.IsSelected, new { onclick = string.Format("if(this.checked){{Add({0},{1},this);}}else{{ Delete({0},{1}); }}", item.Feature_Id, action.Action_Id) }) @Html.DisplayFor(modelItem => action.Action_Name)
                                        </li>

                                    }
                                </ul>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        </div>

        <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>

        if (list.Any(m => m.Feature_Name == "Actions To Features" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
        {
            <script>
                function Add(RFeatureId, RActionId, obj) {
                    alert(obj);
                    debugger;
                    if (RFeatureId > 0 && RActionId > 0) {
                        var data0 = { Feature_Id: RFeatureId, Action_Id: RActionId };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/ActionToFeature/Add",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Action To Feature has been added successfully!!");

                                }
                                else {
                                    ShowMessage("alert alert-danger", result);
       
                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script>
                function Add() {
                    ShowMessage("alert alert-danger", "You are Not Allowed to perform this task!!");
                }
            </script>
        }

        if (list.Any(m => m.Feature_Name == "Actions To Features" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
        {
            <script>
                function Delete(RFeatureId, RActionId) {
                    if (RFeatureId > 0 && RActionId > 0) {
                        var data0 = { Feature_Id: RFeatureId, Action_Id: RActionId };
                        $.ajax({
                            type: "POST",
                            data: data0,
                            url: "/ActionToFeature/Delete",
                            success: function (result) {
                                if (result == "Success") {
                                    //ShowMessage("alert alert-success", "Action To Feature has been Removed successfully!!");

                                }
                                else {
                                    ShowMessage("alert alert-danger", result);
                                }
                            }
                        });
                    }
                }
            </script>
        }
        else
        {
            <script>
                function Delete() {
                    ShowMessage("alert alert-danger", "You are not allowed to perform this task!!!");
                }
            </script>
        }
    }
    else
    {
        <div class="ibox">
            <div class="ibox-title">
                <a class="collapse-link">
                    <h5>Permission Message</h5>
                </a>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="AjaxContent">
                <div class="row">
                    <div class="col-lg-12 text-center" style="height:200px; margin-top:200px;">
                        <h1 class="text-warning"><span class="fa fa-lock fa-10x"></span>You Are Not Allowed To View This Page!!!!</h1>
                        <h3>
                            Redirecting to Dashboard after <span id="countdown">6</span> seconds
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            // Total seconds to wait
            var seconds = 6;

            function countdown() {
                seconds = seconds - 1;
                if (seconds < 0) {

                    window.location.replace("https://localhost:44302/User/Dashboard");
                } else {
                    // Update remaining seconds
                    document.getElementById("countdown").innerHTML = seconds;
                    // Count down using javascript
                    window.setTimeout("countdown()", 600);
                }
            }

            // Run countdown function
            countdown();

        </script>
    }
}
