﻿@model DTO.DTO_Feature.DTO_GetAll

@{
    ViewBag.Title = "Features";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    bool update = false;
    bool delete = false;
    bool view = false;

    if (list.Any(m => m.Feature_Name == "Features" && m.Actions.Any(x => x.Action_Name == "Update" && x.IsSelected == true)))
    {
        update = true;
    }
    if (list.Any(m => m.Feature_Name == "Features" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
    {
        delete = true;
    }
    if (list.Any(m => m.Feature_Name == "Features" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        view = true;
    }


    <div class="ibox">
        <div class="ibox-title">
            <a class="collapse-link">
                <h5>Add Feature</h5>
            </a>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="AjaxContent">
            <form id="AddFeatureForm" name="AddFeatureForm">
                <div style="display:none;" id="Message">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                </div>

                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.HiddenFor(model => model.Feature_Id)
                    <div class="col-md-6 col-sm-12">
                        @Html.EditorFor(model => model.Feature_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Feature Name" } })
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @Html.EditorFor(model => model.Feature_Url, new { htmlAttributes = new { @class = "form-control", placeholder = "Feature URL ~/{Controller}/{Action}" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        @Html.EditorFor(model => model.Feature_Icon, new { htmlAttributes = new { @class = "form-control", placeholder = "Feature Icon-class eg. fa-name" } })
                    </div>
                    <div class="col-md-6 col-sm-6">
                        @Html.DropDownListFor(model => model.Status_Id, ViewBag.StatusList as SelectList, "--Select Status--", new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2 col-sm-2 pull-right">
                        <button class="btn btn-primary btn-block btn-rounded" onclick="Add()" id="Button">Add</button>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-right">
                        <button class="btn btn-light btn-block btn-rounded" onclick="Reset()" id="Reset">Reset</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="ibox-title">
            <h5>All Features</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:GetAll()">
                    <i class="fa fa-refresh fa-spin"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            @if (list.Any(m => m.Feature_Name == "Features" && m.Actions.Any(x => x.Action_Name == "Search" && x.IsSelected == true)))
            {
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary disabled">
                                Search
                            </button>
                        </span>
                        <input type="text" placeholder="Search Here.." id="SearchTerm" onkeyup="Search(this.value)" class="form-control">
                    </div>
                </div>
                <br />
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Icon Class</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in ViewBag.FeatureList)
                    {
                        <tr>
                            <td>
                                @item.Feature_Name
                            </td>
                            <td>
                                @item.Feature_Url
                            </td>
                            <td>
                                @item.Feature_Icon
                            </td>
                            <td>
                                @{
                                    if (update)
                                    {
                                        <a href="#" onclick="Display(@item.Feature_Id,'Update')"><span class="fa fa-edit"></span></a>
                                    }

                                    if (delete)
                                    {
                                        <a href="#" onclick="Display(@item.Feature_Id,'Delete')"><span class="fa fa-trash text-danger"></span></a>
                                    }

                                    if (view)
                                    {
                                        <a href="#" onclick="Display(@item.Feature_Id,'View')"><span class="fa fa-eye text-warning"></span></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        function Display(id, action) {

            if (id > 0)
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Feature/Display?id=" + id,
                    contentType: "html",
                    success: function (result) {
                        $('#Feature_Id').val(result.Feature_Id);
                        $('#Feature_Name').val(result.Feature_Name);
                        $('#Feature_Url').val(result.Feature_Url);
                        $('#Feature_Icon').val(result.Feature_Icon);
                        $('#Status_Id').val(result.Status_Id);

                        if (action == "Delete") {
                            $("#Reset").attr('style', 'display:visible');
                            UpdateButton("Delete()", "btn-danger", "Delete");
                        }
                        else if (action == "Update") {
                            $("#Reset").attr('style', 'display:visible');

                            UpdateButton("Update()", "btn-success", "Update");
                        }
                        else if (action == "View") {
                            $("#Reset").attr('style', 'display:none');
                            UpdateButton("Reset()", "btn-light", "Reset");
                        }
                    }
                });
        }

        function Add() {

            var FeatureName = $('#Feature_Name').val();
            var FeatureUrl = $('#Feature_Url').val();
            var FeatureIcon = $('#Feature_Icon').val();
            var StatusId = $('#Status_Id').val();


            if (FeatureName == "" || FeatureUrl == "" || FeatureIcon == "") {
                ShowMessage("alert alert-danger", "Fill all fields in form.!!!");
            }
            else if (!validateURL(FeatureUrl)) {
                ShowMessage("alert alert-danger", "Invalid URL..Enter a Valid URL .!!!");
            }
            else if (!validateName(FeatureName)) {
                ShowMessage("alert alert-danger", "Enter a Valid Name without Special Characters.!!!");
            }
            else {
                var data = { Feature_Name: FeatureName, Feature_Url: FeatureUrl, Feature_Icon: FeatureIcon, Status_Id: StatusId };


                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/Feature/Add",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Feature has been added successfully!!");
                            Reset();
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Update() {

            var FeatureId = $('#Feature_Id').val();
            var FeatureName = $('#Feature_Name').val();
            var FeatureUrl = $('#Feature_Url').val();
            var FeatureIcon = $('#Feature_Icon').val();
            var StatusId = $('#Status_Id').val();


            if (FeatureName == "" || FeatureUrl == "" || FeatureIcon == "") {
                ShowMessage("alert alert-danger", "Fill all fields in form.!!!");
            }
            else {
                var data = { Feature_Id: FeatureId, Feature_Name: FeatureName, Feature_Url: FeatureUrl, Feature_Icon: FeatureIcon, Status_Id: StatusId };

                $.ajax({
                    async: true,
                    type: "post",
                    data: data,
                    url: "/Feature/Update",
                    success: function (result) {
                        if (result == "Success") {
                            ShowMessage("alert alert-success", "Feature has been Updated successfully!!");
                            GetAll();
                        }
                        else {
                            ShowMessage("alert alert-danger", result);
                        }
                    }
                });
            }
        }

        function Delete() {

            var Feature_ID = $("#Feature_Id").val();

            if (confirm("Performing deletion. Are you sure?")) {
                if (Feature_ID > 0) {
                    var data = { Feature_Id: Feature_ID };
                    $.ajax({
                        async: true,
                        type: "post",
                        data: data,
                        url: "/Feature/Delete",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "User has been deleted successfully!!");
                                Reset();
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Select a Feature First!");
                }
            }
        }
    </script>

    if (list.Any(m => m.Feature_Name == "Features" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
    {
        <script type="text/javascript">
            function Reset() {
                ResetForm();
                $("#Reset").attr('style', 'display:visible');
                UpdateButton("Add()", "btn-primary", "Add");
            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $("#Reset").attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");


            });
            function Reset() {
                ResetForm();
                $("#Reset").attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");

            }
        </script>
    }

    <script type="text/javascript">
        function ResetForm() {
            $('#Feature_Id').val("");
            $('#Feature_Name').val("");
            $('#Feature_Url').val("");
            $('#Feature_Icon').val("");
            $('#Status_Id').val("");
        }
        function Search(value) {
            if (value != null && value != " ") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Feature/Search?SearchTerm=" + value,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                    }
                });
            }
        }
        var GetAll = function() {
            debugger
            $.ajax({
                async: true,
                type: "get",
                url: "/Feature/GetAll",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                }
            });
        }
        function validateName(name) {
            var Reg = new RegExp(/^[a-zA-Z ]+$/);
            return Reg.test(name);
        }
        function validateURL(url) {
            var Reg = new RegExp(/^([A-Za-z/~]*)$/);
            return Reg.test(url);
        }
        function UpdateList(response, update, delet, view) {
            var trHTML = '';
            $.each(response, function (i, item) {
                //trHTML += '<a href="#" onclick="Display(' + item.Feature_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> | <a href="#" onclick="Display(' + item.Feature_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a> | <a href="#" onclick="Display(' + item.Feature_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a></td></tr>';

                trHTML += '<tr><td>' + item.Feature_Name + '</td><td>' + item.Feature_Url + '</td><td>' + item.Feature_Icon + '</td><td>';
                if (update) {
                    trHTML += '<a href="#" onclick="Display(' + item.Feature_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> ';
                }
                if (delet) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Feature_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a>';
                }
                if (view) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Feature_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a>';
                }
                trHTML += '</td></tr>';

            });

            if (trHTML != '') {
                $('#List').empty();
                $('#List').append(trHTML);
            }
            else {
                trHTML += '<tr><td colspan = "5">No Record Found in Database!!!</td></tr>';
                $('#List').empty();
                $('#List').append(trHTML);
            }
        }

    </script>

}
