﻿@model IEnumerable<DTO.DTO_Feature.DTO_GetAll>

@{
    string clas = "";

    foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.Feature_Icon))
        {
            clas = item.Feature_Icon;
        }

        <li>
            <a href="@Url.Content(item.Feature_Url)"><i class="fa @clas"></i> <span class="nav-label">@item.Feature_Name</span></a>
        </li>
    }
}
