﻿@model DTO.DTO_Role.DTO_GetAll

@{
    ViewBag.Title = "Roles";
    List<DTO.DTO_Feature.DTO_GetAll> list = (List<DTO.DTO_Feature.DTO_GetAll>)Session["AllowedActions"];

    bool update = false;
    bool delete = false;
    bool view = false;

    if (list.Any(m => m.Feature_Name == "Roles" && m.Actions.Any(x => x.Action_Name == "Update" && x.IsSelected == true)))
    {
        update = true;
    }
    if (list.Any(m => m.Feature_Name == "Roles" && m.Actions.Any(x => x.Action_Name == "Delete" && x.IsSelected == true)))
    {
        delete = true;
    }
    if (list.Any(m => m.Feature_Name == "Roles" && m.Actions.Any(x => x.Action_Name == "View" && x.IsSelected == true)))
    {
        view = true;
    }


    <div class="ibox">
        <div class="ibox-title">
            <h5>Add New Role</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="AjaxContent">

            <div class="form-horizontal">
                <form id="usserrole">
                    <div style="display:none;" id="Message"></div>
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.Role_Id)

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            @Html.EditorFor(model => model.Role_Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter New Role", required = "" } })
                            @Html.ValidationMessageFor(model => model.Role_Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 col-sm-6">
                            @Html.DropDownListFor(model => model.Status_Id, ViewBag.StatusList as SelectList, "--Select Status--", new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                </form>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-2 col-sm-2 pull-right">
                            <button class="btn btn-primary btn-block btn-rounded" onclick="Add()" id="Button">Add</button>
                        </div>

                        <div class="col-md-2 col-sm-2 pull-right">
                            <button class="btn btn-light btn-block btn-rounded" onclick="Reset()" id="Reset">Reset</button>
                        </div>

                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="ibox-title">
            <h5>All Rolls</h5>
            <div class="ibox-tools">

                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>

                <a href="#" onclick='GetAll()'>
                    <i class="fa fa-refresh fa-spin"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (list.Any(m => m.Feature_Name == "Roles" && m.Actions.Any(x => x.Action_Name == "Search" && x.IsSelected == true)))
            {
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary disabled">
                                Search
                            </button>
                        </span>
                        <input type="text" placeholder="Search Role Here.." id="SearchTerm" onkeyup="Search(this.value)" class="form-control">
                    </div>
                </div>
                <br />
            }

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Role Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="List">
                    @foreach (var item in ViewBag.RoleList)
                    {
                        <tr>
                            <td>
                                @item.Role_Title
                            </td>
                            <td>
                                @if (update)
                                {
                                    <a href="#" onclick="Display(@item.Role_Id,'Update')"><span class="fa fa-edit"></span></a>
                                }
                                @if (delete)
                                {
                                    <a href="#" onclick="Display(@item.Role_Id,'Delete')"><span class="fa fa-trash text-danger"></span></a>
                                }
                                @if (view)
                                {
                                    <a href="#" onclick="Display(@item.Role_Id,'View')"><span class="fa fa-eye text-warning"></span></a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

        function Display(id, action) {
            if (id > 0) {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Role/Display?id=" + id,
                    contentType: "html",
                    success: function (result) {
                        $('#Role_Id').val(result.Role_Id);
                        $('#Role_Title').val(result.Role_Title);
                        $('#Status_Id').val(result.Status_Id);


                        if (action == "Delete") {
                            $("#Reset").attr('style', 'display:visible');
                            UpdateButton("Delete()", "btn-danger", "Delete");
                        }
                        else if (action == "Update") {
                            $("#Reset").attr('style', 'display:visible');
                            UpdateButton("Update()", "btn-success", "Update");
                        }
                        else if (action == "View") {
                            $("#Reset").attr('style', 'display:none');
                            UpdateButton("Reset()", "btn-light", "Reset");

                        }
                    }
                });
            }
        }

        function Add() {
            var role_name = $('#Role_Title').val();
            var StatusId = $('#Status_Id').val();

            if (role_name != "" || StatusId != "") {
                if (validateRole(role_name)) {
                    var data = { Role_Title: role_name, Status_Id: StatusId };

                    $.ajax({
                        type: "post",
                        data: data,
                        url: "/Role/Add",
                        success: function (result) {
                            if (result == "success") {
                                ShowMessage("alert alert-success", "Role has been added successfully!!");
                                Reset();
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Enter only alphbets. No special characters OR spaces allowed!!");
                }
            }
            else {
                ShowMessage("alert alert-danger", "Fill ALL Fields to Add A New Role!!");
            }
        }

        function Delete() {
            var role_ID = usserrole.elements["Role_Id"].value;
            if (confirm("Are you Sure You want to Delete? ")) {
                if (role_ID > 0) {

                    var data = { Role_Id: role_ID };

                    $.ajax({
                        type: "post",
                        data: data,
                        url: "/Role/Delete",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "Role has been deleted!!");
                                Reset();
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);

                            }

                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Enter only alphbets. No special characters OR spaces allowed!!");
                }
            }
            else {
                ShowMessage("alert alert-danger", "Enter a valid role name!!");
            }
        }

        function Update() {
            var role_id = $('#Role_Id').val();
            var role_name = $('#Role_Title').val();
            var StatusId = $('#Status_Id').val();

            if (role_name != "") {
                if (validateRole(role_name)) {
                    var data = { Role_Id: role_id, Role_Title: role_name, Status_Id: StatusId };
                    $.ajax({
                        type: "post",
                        data: data,
                        url: "/Role/Update",
                        success: function (result) {
                            if (result == "Success") {
                                ShowMessage("alert alert-success", "Role has been updated!!");
                                GetAll();
                            }
                            else {
                                ShowMessage("alert alert-danger", result);
                            }
                        }
                    });
                }
                else {
                    ShowMessage("alert alert-danger", "Enter only alphbets. No special characters OR spaces allowed!!");
                }
            }
            else {
                ShowMessage("alert alert-danger", "Enter a valid role name!!");
            }
        }

    </script>

    if (list.Any(m => m.Feature_Name == "Roles" && m.Actions.Any(x => x.Action_Name == "Add" && x.IsSelected == true)))
    {
        <script type="text/javascript">
            function Reset() {
                ResetForm();
                $("#Reset").attr('style', 'display:visible');
                UpdateButton("Add()", "btn-primary", "Add");
            }
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                UpdateButton("Reset()", "btn-light", "Reset");
                $("#Reset").attr('style', 'display:none');

            });

            function Reset() {
                ResetForm();
                $("#Reset").attr('style', 'display:none');
                UpdateButton("Reset()", "btn-light", "Reset");
            }
        </script>
    }


    <script type="text/javascript">

        function ResetForm() {
            $('#Role_Id').val("");
            $('#Role_Title').val("");
            $('#Status_Id').val("");
        }

        function Search(value) {
            if (value != null && value != " ") {
                $.ajax({
                    async: true,
                    type: "get",
                    url: "/Role/Search?SearchTerm=" + value,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                    }
                });
            }
        }

        function GetAll() {
            $.ajax({
                async: true,
                type: "get",
                url: "/Role/GetAll",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    UpdateList(response,@update.ToString().ToLower(),@delete.ToString().ToLower(),@view.ToString().ToLower());
                }
            });
        }

        function UpdateList(response,update,delet,view) {
            var trHTML = '';
            $.each(response, function (i, item) {
                //trHTML += '<a href="#" onclick="Display(' + item.Role_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> | <a href="#" onclick="Display(' + item.Role_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a> | <a href="#" onclick="Display(' + item.Role_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a> </td></tr>';

                trHTML += '<tr><td>' + item.Role_Title + '</td><td>';
                if (update) {
                    trHTML += '<a href="#" onclick="Display(' + item.Role_Id + ',\'Update\')"><span class="fa fa-edit"></span></a> ';
                }
                if (delet) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Role_Id + ',\'Delete\')"><span class="fa fa-trash text-danger"></span></a>';
                }
                if (view) {
                    trHTML += ' <a href="#" onclick="Display(' + item.Role_Id + ',\'View\')"><span class="fa fa-eye text-warning"></span></a>';
                }
                trHTML += '</td></tr>';
            });

            if (trHTML != '') {
                $('#List').empty();
                $('#List').append(trHTML);
            }
            else {
                trHTML += '<tr><td colspan = "3">No Matching Record Found !!!</td></tr>';
                $('#List').empty();
                $('#List').append(trHTML);
            }
        }

        function validateRole(name) {
            //var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            var emailReg = new RegExp(/^[a-zA-Z ]+$/);
            return emailReg.test(name);
        }

    </script>
}
